<%= @bachelorette.name %>
<p>Season <%= @bachelorette.season_number %> - <%= @bachelorette.season_description %></p>
<p>Average age of Contestants:</p>
<%= link_to "View Contestants", "/bachelorettes/#{@bachelorette.id}/contestants" %>

